
.hero-section {
    background-image: url('../Images/KP00.jpg'); 
    background-size: cover;
    background-position: center;
    color: var(--text-light);   
    text-align: center;
    padding: 250px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 600px;
    position: relative; /* Para el overlay */
}

/* Overlay para hacer el texto legible sobre la imagen */
.hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Oscurece la imagen de fondo */
    z-index: 1;
}

.hero-content {
    position: relative; /* Para que el contenido esté sobre el overlay */
    z-index: 2;
    max-width: 700px;
}

.hero-content h1 {
    font-size: 3.5em;
    font-weight: 1000;
    margin-bottom: 10px;
    color: var(--text-); /* Color del texto del título */
}

.hero-content p {
    font-size: 2em;
    margin-bottom: 40px;
    color: rgb(217, 226, 222);
}

@media (max-width: 768px) {
    .hero-section {
        padding: 80px 15px;
    }
    .hero-content h1 {
        font-size: 2.5em;
    }
    .hero-content p {
        font-size: 1em;
    }
}