/* src/components/SearchBar/SearchBar.css */
.search-bar-container {
    background-color: var(--background-secondary);
    border: none;
    box-shadow: 0 5px 15px var(--shadow-light);
    padding: 35px;
    margin-top: -230px; /* Superponerse al hero section */
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.search-input,
.search-select {
    padding: 15px 150px 15px 20px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    font-size: 1.3em;
    color: var(--text-dark);
    flex: 1; /* Permite que los inputs se expandan */
    min-width: 600px; /* Ancho mínimo para cada campo */
   margin-left: 10px;
}

.search-input:focus,
.search-select:focus {
    outline: none;
    border-color: var(--primary-color);
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.search-btn {
    padding: 20px 0;
    font-weight: 600;
    min-width: 200px;
    position: relative;
    cursor: pointer;
}

/* Responsive Search Bar */
@media (max-width: 768px) {
    .search-bar-container {
        flex-direction: column;
        gap: 10px;
        padding: 15px;
        margin-top: -40px; /* Ajuste para móviles */
    }
    .search-input,
    .search-select,
    .search-btn {
        width: 100%;
        min-width: unset;
    }
}